<p class="brand signup-title">Sign Up&nbsp</p>

<div class="signup-form">
  <%= form_for :user, url: users_path do |f| %>
    <%= f.label :first_name, class: "user-input-field-name" %>
    <%= f.text_field :first_name, class: "user-input-field" %>
  
    <%= f.label :last_name, class: "user-input-field-name" %>
    <%= f.text_field :last_name, class: "user-input-field" %>

    <%= f.label :email, class: "user-input-field-name" %>
    <%= f.text_field :email, class: "user-input-field" %>

    <%= f.label :username, class: "user-input-field-name" %>
    <%= f.text_field :username, class: "user-input-field" %>

    <%= f.label :password, class: "user-input-field-name" %>
    <%= f.password_field :password, class: "user-input-field" %>
  
    <%= f.submit "sign up", class: "sign-up button" %>
  <% end %>
</div>
