<div class="post-form">
  <%= flash[:error] %>
  <%= form_for @post do |f| %>
    <% if @text_error %>
      <div class="field_with_errors">
      <span class="error-text"><%= @text_error %></span>
    <% end %>
    
    <%= f.text_area :text, class: "post-input-field styled-textarea" %><br>
    
    <% if @text_error %>
      </div>
    <% end %>
    
    <% if @type_error %>
      <div class="field_with_errors">
      <span class="error-text"><%= @type_error %></span><br>
    <% end %>

    <%= f.label :post_type, 'Is this a Joke or a Quote?:', class: 'user-input-field-name' %>
    <%= f.select(:post_type, [['------'], ['Joke', 'Joke'], ['Quote', 'Quote']])%><br>

    <% if @type_error %>
      </div>
    <% end %>

    <%= f.submit 'make a jokquot!', class: 'new-post button' %>
  <% end %>
</div>
