<div class="post-form">
  <%= form_for @post do |f| %>
    <%= f.label "Is this a Joke or a Quote?", class: "user-input-field-name" %>
    <%= select_tag(:post_id, options_for_select([["Joke", 1], ["Quote", 2]])) %><br>
    <%= f.label :text, 'Text:', class: 'user-input-field-name' %>
    <%= f.text_area :text, class: 'post-input-field' %><br>
    <%= f.submit 'Make a Jokquot', class: 'submit-post-button' %>
  <% end %>
</div>
