<%= @error if @error %>
<% if @posts %>
	<% @posts.each do |post| %>

		<div class="post-index-individual">
			<% if current_user %>
				<%= render partial: "votes/post_votes", locals: { post: post, votes: post.votes } %>
			<% end %>

			<ul class="post-index">
				<li class="post-text-index">
					<%= post.text %>
				</li>
				<li>
					<span class="small-font">by</span><span class="post-user"> <%= post.user.username %></span><span class="created-at small-font"> on <%= posted_on(post.created_at) %></span>
				</li>
				<li>
					<%= link_to "#{ post.comment_count } comments", post_path(post), class: "comments-link" %>
				</li>
			</ul>
		</div>

	<% end %>
<% end %>