<% @posts.each do |post| %>
	
	<div class="post-index-individual">

		<span class="votes">
			<div class="upvote"></div>
			<div class="vote-count">
				<p>
				  <% if post.votes != nil %> 
					  <%= Vote.tally(post.id, post.class) %> points
				  <% else %> 
					  0 points
					<% end %>
				</p>
			</div>
			<div class="downvote"></div>
		</span>

		<ul class="post-index">
			<li> Username: <%= post.user.username %> </li>
			<li> Posted on:<%= post.created_at  %></li>
			<li> <%= post.text %></li>
			<li>
				<% if post.comments != nil %>
					<%= post.comments.count %> comments
				<% else %> 
						0 comments
				<% end %>
			</li>
		</ul>
	</div>

<% end %>
	
