<%= @error if @error %>
<% @posts.each do |post| %>

	<div class="post-index-individual">
		<%= render partial: "votes/post_votes", locals: { post: post, votes: @votes } %>

		<ul class="post-index">
			<li>Username: <%= post.user.username %> </li>
			<li>Posted on: <%= post.created_at %></li>
			<li><%= post.text %></li>
			<li>
				<% if post.comments != nil %>
					<%= post.comments.count %> comments
				<% else %>
						0 comments
				<% end %>
			</li>
		</ul>
	</div>

<% end %>

