<%= @error if @error %>
<% if @posts %>
<% @posts.each do |post| %>

	<div class="post-index-individual">
		<%= render partial: "votes/post_votes", locals: { post: post, votes: post.votes } %>

		<ul class="post-index">
			<li class="post-text"><%= post.text %></li>
			<li class="post-user">by <%= post.user.username %> </li>
			<li class="created-at">Posted on: <%= post.created_at %></li>
			<li>
				<%= link_to "#{post.comments.count} comments", post_path(post), class: "comments-link" %>
			</li>
		</ul>
	</div>

<% end %>
<% end %>

