<span id="<%= post.id %>" class="votes">
  <% if current_user && current_user.voted?(post) %>
    <%= link_to(post_vote_path(post, vote: VoteHelper.find_vote(votes, post).attributes, id: (VoteHelper.find_vote(votes, post).id), class: "upvote" ), method: :put) do %>
      <div class="post-upvote"></div>
    <% end %>
  <% else %>
    <%= link_to( post_votes_path(post, vote: Vote.new.attributes, class: "upvote"), method: :post ) do %>
      <div class="post-upvote"></div>
    <% end %>
  <% end %>

  <div class="post-vote-count">
    <%= post.votes.sum(:value) %> points
  </div>

  <% if current_user && current_user.voted?(post) %>
    <%= link_to(post_vote_path(post, id: (VoteHelper.find_vote(votes, post).id), vote: VoteHelper.find_vote(votes, post).attributes), method: :put ) do %>
      <div class="post-downvote"></div>
    <% end %>
  <% else %>
    <%= link_to(post_votes_path( post, vote: Vote.new.attributes ), method: :post ) do %>
      <div class="post-downvote"></div>
    <% end %>
  <% end %>
</span>
