<h1>Log In</h1>

<%= form_for :user, url: sessions_path do %>

  <p>
    <%= label :email %><br>
    <%= text_field :email %>
  </p>

  <p>
    <%= label :password %><br>
    <%= password_field :password %>
  </p>

  <p>
    <%= f.submit "Log in" %>
  </p>

<% end %>

