<!DOCTYPE html>
<html>
<head>
  <title>Jokquot</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link href='http://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic,700italic|Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>
</head>
<body>
  <header>

    <h1 class="brand">jokquot</h1>

    <nav>
      <ul>
        <span class="user_status">
          <% if current_user.nil? %>
            <li><%= link_to "Sign in", new_session_path %></li>
            <li><%= link_to "Sign up", new_user_path %></li>
          <% else %>
            <li><%= link_to "#{current_user.username}", user_path(current_user.id) %></li>
            <li><%= link_to "Sign out", log_out_path, method: "delete" %></li>
          <% end %>
        </span>
      </ul>
    </nav>
  </header>
  <div class="search">
    <%= form_tag do %>
      <input id="search-box" type="text" placeholder="Search" />
      <input class="search-button" type="submit" value="Q" />
    <% end %>
  </div>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
